#o {
    width: 400px;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.bubble {
    border: 3px dashed Fuchsia;
    display: block;
    position: absolute;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

body {
    background-color: #2154B2;
}